<!-- blog/templates/blog/profile.html -->
{% extends "blog/base.html" %}
{% block title %}Your Profile{% endblock %}
{% block content %}
  <h1>Your Profile</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>Account</legend>
      {{ u_form.non_field_errors }}
      <div>{{ u_form.username.label_tag }}{{ u_form.username }}{{ u_form.username.errors }}</div>
      <div>{{ u_form.email.label_tag }}{{ u_form.email }}{{ u_form.email.errors }}</div>
      <div>{{ u_form.first_name.label_tag }}{{ u_form.first_name }}</div>
      <div>{{ u_form.last_name.label_tag }}{{ u_form.last_name }}</div>
    </fieldset>

    <fieldset>
      <legend>Profile</legend>
      {% if request.user.profile.avatar %}
        <div>
          <img src="{{ request.user.profile.avatar.url }}" alt="avatar" style="max-width:150px;">
        </div>
      {% endif %}
      <div>{{ p_form.avatar.label_tag }}{{ p_form.avatar }}{{ p_form.avatar.errors }}</div>
      <div>{{ p_form.bio.label_tag }}{{ p_form.bio }}{{ p_form.bio.errors }}</div>
    </fieldset>

    <button type="submit">Save changes</button>
  </form>
{% endblock %}
